.double-view .react-calendar__viewContainer {
  display: flex;
  gap: 20px; /* 두 달력 사이의 간격 조정 */
}

.custom-calendar {
  border: none;
}

.custom-calendar .react-calendar__tile {
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  cursor: pointer;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #3b82f6;
  color: white;
}

.custom-calendar .react-calendar__tile--range {
  background-color: #bfdbfe;
}

.custom-calendar .react-calendar__tile--rangeStart,
.custom-calendar .react-calendar__tile--rangeEnd {
  background-color: #3b82f6;
  color: white;
}